.sectionTwo {
    background-color: black;
    color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem 8rem;
    border-top: 3px solid red;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    margin-top: -10rem;
}

.selectionContainer {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}

.selectionContainer span {
    font-size: 0.7rem;
    vertical-align: middle;
}

.selectionContainer > p {
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 8px;
}

.imgContainer {
    display: flex;
    justify-content: space-between;
}

.singleImg {
    position: relative;
}

.singleImg > span {
    position: absolute;
    top: 100px;
    left: -30px;
    font-size: 10rem;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
    color: black
}

.singleImg>img {
    border-radius: 30px;
}