.sectionOne {
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    background-image: url("../public/netflixBackground.jpg");
}

header {
    background: linear-gradient(rgb(0, 0, 0), transparent);
    display: flex;
    justify-content: space-between;
    padding: 2rem !important;
}

.netflixLogo {
    height: 2rem;
}

.signInContainer {
    display: flex;
}

.language {
    color: #FFFFFFB3;
    border: 1px solid #FFFFFFB3;
    padding: 5px 25px;
    font-size: 1.0rem;
    border-radius: 0.2rem;
    margin-right: 1.5rem;
    background-color: rgba(42, 36, 36, 0.782);
}

.signIn {
    background-color: red;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.mainInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 5rem;
    gap: 0.8rem;
}

.mainInfoContainer>h1 {
    font-size: 2rem;
}

.mainInfoContainer>p {
    font-weight: 500;
}

.emailContainer {
    display: flex;
    gap: 0.6rem;
}

.emailContainer>input {
    padding: 10px 30px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-color: #ccc;
    border-radius: 4px;
}

.emailContainer>::-webkit-input-placeholder {
    color: #ccc;
}

.emailContainer>button {
    background-color: red;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.emailContainer>button:hover {
    background-color: rgb(223, 0, 0);
}